$font: 'Open Sans', sans-serif;
$font_n: 'Open Sans', sans-serif;


$font_ex: 'Open Sans', sans-serif;
$font_ly: 'Open Sans', sans-serif;
$font_lyb: 'Open Sans', sans-serif;
$font_lyi: 'Open Sans', sans-serif;
$font_r: 'Open Sans', sans-serif;
$font_l: 'Open Sans', sans-serif;
$font_sb: 'Open Sans', sans-serif;

$donker: #7e7e7e;
$title: #525252;
$pink: #ff1f5d;
$link_nav: #fd2e6c;



$blue: #7594af;
$border: #c8dcf0;



$red: #ef3e35;
$light_grey: #b9b9b9;
$green: #42b870;
$dark_green: #329559;
$light_green: #b1ddc0;

 

